<?xml version="1.0" encoding="UTF-8"?>

<!--========================================================================-->
<!--                       The OpenPplSoft Runtime Project                  -->
<!--                                                                        -->
<!--              This file is distributed under the MIT License.           -->
<!--                         See LICENSE.md for details.                    -->
<!--========================================================================-->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console-Less" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
    </Console>
    <Console name="Console-More" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="Console-Less"/>
    </Root>

    <Logger name="org.openpplsoft.sql" level="WARN"/>
    <Logger name="org.openpplsoft.runtime" level="INFO"/>
    <Logger name="org.openpplsoft.runtime.Scope" level="DEBUG"/>
    <Logger name="org.openpplsoft.runtime.DefnCache" level="WARN"/>
    <Logger name="org.openpplsoft.runtime.Environment" level="DEBUG"/>
    <Logger name="org.openpplsoft.runtime.TraceFileVerifier" level="DEBUG"/>
    <Logger name="org.openpplsoft.runtime.InterpretSupervisor" level="DEBUG"/>
    <Logger name="org.openpplsoft.runtime.ComponentStructureVerifier" level="WARN"/>
    <Logger name="org.openpplsoft.runtime.GlobalFnLibrary" level="DEBUG"/>
    <Logger name="org.openpplsoft.types" level="DEBUG"/>
    <Logger name="org.openpplsoft.pt.peoplecode" level="WARN"/>
    <Logger name="org.openpplsoft.pt.peoplecode.PeopleCodeProg" level="all"/>
    <Logger name="org.openpplsoft.pt.peoplecode.AppClassPeopleCodeProg" level="all"/>
    <Logger name="org.openpplsoft.pt.peoplecode.ProgLoadSupervisor" level="all"/>
    <Logger name="org.openpplsoft.pt.Component" level="DEBUG"/>
    <Logger name="org.openpplsoft.antlr4" level="DEBUG"/>
    <Logger name="org.openpplsoft.pt.pages" level="DEBUG"/>
    <Logger name="org.openpplsoft.buffers" level="WARN"/>
    <Logger name="org.openpplsoft.buffers.ComponentBuffer" level="WARN"/>
    <Logger name="org.openpplsoft.buffers.RecordBuffer" level="DEBUG"/>
  </Loggers>
</Configuration>
