<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
    	<Console name="Console-Less" target="SYSTEM_OUT">
    		<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
    	</Console>
    	<Console name="Console-More" target="SYSTEM_OUT">
    		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</Console>
    	<Console name="Console-Clojure" target="SYSTEM_OUT">
    		<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level ns:%logger{36} - %msg%n"/>
    	</Console>
    </Appenders>

    <Loggers>
    	<Root level="WARN">
    		<AppenderRef ref="Console-Less"/>
    	</Root>

		<!-- CLOJURE LOGGERS -->
		<Logger name="main" level="DEBUG" additivity="false">
			<AppenderRef ref="Console-Clojure"/>
		</Logger>
		<Logger name="pt" level="DEBUG" additivity="false">
			<AppenderRef ref="Console-Clojure"/>
		</Logger>

		<!-- JAVA LOGGERS -->
		<Logger name="com.enterrupt.buffers.RecordPCListRequestBuffer" level="WARN"/>
		<Logger name="com.enterrupt.sql" level="WARN"/>
		<Logger name="com.enterrupt.runtime" level="INFO"/>
		<Logger name="com.enterrupt.runtime.DefnCache" level="DEBUG"/>
		<Logger name="com.enterrupt.runtime.TraceFileVerifier" level="DEBUG"/>
		<Logger name="com.enterrupt.types" level="WARN"/>
		<Logger name="com.enterrupt.pt.peoplecode" level="WARN"/>
		<Logger name="com.enterrupt.pt.peoplecode.PeopleCodeProg" level="all"/>
		<Logger name="com.enterrupt.pt.peoplecode.AppClassPeopleCodeProg" level="all"/>
		<Logger name="com.enterrupt.pt.peoplecode.ProgLoadSupervisor" level="all"/>
		<Logger name="com.enterrupt.pt.Component" level="DEBUG"/>
		<Logger name="com.enterrupt.antlr4" level="DEBUG"/>
		<Logger name="com.enterrupt.pt.pages" level="DEBUG"/>
		<Logger name="com.enterrupt.buffers.ComponentBuffer" level="DEBUG"/>
    </Loggers>
</Configuration>
